<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quantum Lab</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>
	<div class="container">
		<h2>
			<span th:text="'Welcome to: ' + ${appName}"></span>
		</h2>
		<form>
			<div class="form-group">
		      <label for="orderNumber">Order Number:</label>
		      <input type="text" class="form-control" id="orderNumber" placeholder="Order Number" name="orderNumber" />
		    </div>
		    <div class="form-group">
		      <label for="patientName">Patient Name:</label>
		      <input type="text" class="form-control" id="patientName" placeholder="Patient Name" name="patientName" />
		    </div>
		    <div class="form-group">
		      <label for="nricFinNumber">Patient NRIC:</label>
		      <input type="text" class="form-control" id="nricFinNumber" placeholder="Patient NRIC" name="nricFinNumber" />
		    </div>
		    <button type="button" class="btn btn-primary">Submit Order</button>
		</form>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>