<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Quantum Lab</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/bootstrapValidator.css" />
<style type="text/css">
/*
.error {
	color: #ff0000;
}

input.error, textarea.error{
    border:1px solid red;
}
*/
</style>
</head>
<body>
	<div class="container">
		<h2>
			<span th:text="'Welcome to: ' + ${appName}"></span>
		</h2>
		<div id="feedback"></div>
		<form class="form-horizontal" id="lab">
			<div class="form-group">
		      <label for="orcOrderNumber">ORC Order Number:</label>
			  <input type="text" class="form-control" id="orcOrderNumber" placeholder="ORC Order Number" name="orcOrderNumber" />
		    </div>
		    <div class="form-group">
		      <label for="obrOrderNumber">OBR Order Number:</label>
		      <input type="text" class="form-control" id="obrOrderNumber" placeholder="OBR Order Number" name="obrOrderNumber" />
		    </div>
		    <div class="form-group">
		      <label for="visitNumber">Visit Number:</label>
		      <input type="text" class="form-control" id="visitNumber" placeholder="Visit Number" name="visitNumber" />
		    </div>
		    <div class="form-group">
		      <label for="patientId">Patient Id:</label>
		      <input type="text" class="form-control" id="patientId" placeholder="Patient Id" name="patientId" />
		    </div>
		    <div class="form-group">
		      <label for="nricFinNumber">Patient NRIC:</label>
		      <input type="text" class="form-control" id="nricFinNumber" placeholder="Patient NRIC" name="nricFinNumber" />
		    </div>
		    <div class="form-group">
		      <label for="patientName">Patient Name:</label>
		      <input type="text" class="form-control" id="patientName" placeholder="Patient Name" name="patientName" />
		    </div>
		    <div class="form-group">
		       <div id="messages"></div>
		    </div>
		    <button type="button" class="btn btn-primary" id="submitOrder">Submit Order</button>
		    <button type="button" class="btn btn-primary" id="getReport">Get Report</button>
		    <button type="button" class="btn btn-primary" id="getResult">Get Result</button>
		</form>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="jquery/jquery.validate.js"></script>
	<script type="text/javascript" src="jquery/bootstrapValidator.js"></script>
	<script type="text/javascript"
		src="js/main.js"></script>
</body>
</html>